.AdminTopbar_icon_light {
    color: #292929;
}

.dark-mode .AdminTopbar_icon_light {
    color: white;
}

.AdminTopbar {
    background-color: #efeeee;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.dark-mode .AdminTopbar {
    background-color: #292929;
}