.home-page-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
}

.home-page-heading-container .home-page-banner {
    /* margin-top: 1.2rem; */
    height: 25rem;
    width: 100%;
    filter: opacity(0.7);
}


.dark-mode .home-page-heading-container .home-page-banner {
    filter: opacity(0.5);
}

.home-page-h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
}

.home-page-span {
    font-size: 1.8rem;
    font-weight: 600;
}

.home-page-heading-container .home-page-heading {
    position: absolute;
}

.why {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.why .why-card {
    /* background-color: #313131; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 3px solid green;
    height: 350px;
    position: relative;
    width: 250px;
    margin: 0.6rem;
    border-radius: 2rem 2rem 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.dark-mode .why .why-card {
    background-color: #313131;
}

.why .why-card .why-card-circle {
    background-color: black;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.why .why-card .why-card-h6 {
    font-weight: bolder;
}

.light-mode .testimonials .testimonials-container {
    background-color: rgb(216, 197, 197);
}

.dark-mode .testimonials .testimonials-container {
    background-color: rgb(87, 87, 87);
}

.testimonials .testimonials-container {
    height: 30rem;
    width: 100%;
    display: flex;
    border-radius: 2rem;
    justify-content: space-between;
    align-items: center;
}

.testimonials .testimonials-container .testimonials-left-btn,
.testimonials-right-btn {
    border: none;
    outline: none;
    background: transparent;
    font-size: 3rem;
    cursor: pointer;
}

.testimonials .testimonials-container .testimonials-left-btn {
    margin-left: 2rem;
}

.testimonials .testimonials-container .testimonials-right-btn {
    margin-right: 2rem
}

.testimonials .testimonials-container .testimonials-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.testimonials .testimonials-container .testimonials-body .text-part {
    width: 50%;
}

.testimonials .testimonials-container .testimonials-body .image-part {
    width: 45%;
    height: 22rem;
    border: 2px solid green;
    border-radius: 50%;
    position: relative;
}

.testimonials .testimonials-container .testimonials-body .image-part img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.testimonials .testimonials-container .testimonials-body .image-part .round {
    position: relative;
    height: 4rem;
    width: 4rem;
    bottom: 60px;
    left: 50px;
    background-color: rgb(19, 150, 225);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
}

.newsletter .newsletter-input {
    width: 20rem;
    height: 3rem;
    outline: none;
    border: 2px solid black;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1rem;
    background-color: rgb(136, 133, 133);
    margin-right: 1rem;
}

.newsletter .newsletter-btn {
    width: 8rem;
    height: 3rem;
}

@media (max-width:768px) {
    .testimonials .testimonials-container {
        height: 35rem;
    }

    .testimonials .testimonials-container .testimonials-body {
        flex-direction: column;
    }

    .testimonials .testimonials-container .testimonials-body .text-part {
        width: 100%;
        padding-top: 5rem;
    }

    .testimonials .testimonials-container .testimonials-body .image-part {
        width: 100%;
        margin: 2rem;
        height: 15rem;
    }
}

@media(max-width: 830px) {
    .home-page-heading-container .home-page-heading {
        font-size: 2rem;
    }

    .home-page-span {
        font-size: 1rem;
        text-align: center;
        /* font-weight:200; */
    }
}

@media(max-width: 575px) {
    .why {
        width: 60%;
        margin-left: 22%;
    }
}