.home-page-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-heading-container .home-page-banner {
    /* margin-top: 1.2rem; */
    height: 25rem;
    width: 100%;
    filter: opacity(0.7);
}


.dark-mode .home-page-heading-container .home-page-banner {
    filter: opacity(0.5);
}

.home-page-h1 {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
}

.home-page-span {
    font-size: 1.8rem;
    font-weight: 600;
}

.home-page-heading-container .home-page-heading {
    position: absolute;
}

.why {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why .why-card {
    background-color: black;
    border: 2px solid green;
    height: 300px;
    position: relative;
    width: 300px;
    margin: 0.6rem;
    border-radius: 2rem 2rem 0 0;
    overflow: hidden;
}

@media(max-width: 830px) {
    .home-page-heading-container .home-page-heading {
        font-size: 2rem;
    }

    .home-page-span {
        font-size: 1rem;
        text-align: center;
        /* font-weight:200; */
    }
}

@media(max-width: 575px) {
    .why {
        width: 60%;
        margin-left: 22%;
    }
}