.cart-container {
    min-height: 300px;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}

.cart-container .cart-header-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.cart-container .cart-header-section img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.cart-container .cart-items-table-container {
    width: 100%;
    margin-top: 1rem;
}

.cart-container .cart-items-table-container table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    /* border: 1px solid black; */
}

.cart-container .cart-items-table-container table thead {
    border-bottom: 1px solid black;
    color: rgb(111, 111, 111);
}

.cart-container .cart-items-table-container table thead th {
    padding: 0.5rem;
}

.cart-container .cart-items-table-container table tbody {
    border-bottom: 1px solid black;
    padding: 0.5rem;
}

.cart-container .cart-items-table-container table tbody td {
    padding: 0.8rem;
}

.cart-container .cart-items-table-container table tbody td button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: red;
}

.cart-container .cart-items-table-container table tbody td:first-child {
    text-align: left;
}

.cart-container .cart-items-table-container table tbody td img {
    height: 3rem;
    width: 5rem;
    padding-right: 1rem;
}

.cart-container .cart-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.cart-container .divider {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    min-height: 100px;
}

.cart-container .divider .cart-address-container {
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    /* background-color: aqua; */
    width: 70%;
    height: 249px;
    overflow-y: auto;
    overflow-x: hidden;
}

.cart-container .cart-address-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}

.cart-container .divider .cart-bill-container {
    /* background-color: rgb(144, 11, 11); */
    height: 100%;
    width: 30%;
}

.cart-container .cart-bill-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-container .cart-bill-container .cart-bill {
    margin-top: 1rem;
    background-color: rgba(164, 164, 164, 0.634);
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-container .cart-bill-container .cart-bill .cart-bill-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    width: 100%;
}

.cart-container .cart-bill-container .cart-bill .cart-bill-row .price {
    font-weight: bolder;
}

.cart-container .cart-bill-container form input[type="text"] {
    background-color: rgb(165, 165, 165);
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
    text-transform: uppercase;
}

@media(max-width: 830px) {
    .cart-container .divider {
        flex-direction: column;
    }

    .cart-container .divider .cart-address-container {
        width: 100%;
    }

    .cart-container .divider .cart-bill-container {
        width: 100%;
    }

}