.slider-container {
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    padding: 0.5rem;
}

.slider .grid-card {
    margin: 0 0.8rem 0 1rem;
}

.slider-container #left-slider-btn,
.slider-container #right-slider-btn {
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 0.2rem;
    font-size: 2rem;
    background-color: transparent;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    color: rgb(255, 255, 255);
    height: 100%;
    z-index: 2;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-container #left-slider-btn p,
.slider-container #right-slider-btn p {
    padding: 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.slider-container #right-slider-btn {
    right: 0;
    margin-left: 20rem;
}

.slider-container #left-slider-bt {
    left: 0;
}

.slider .grid-card .grid-card-item-footer{
    width: 80%;
}

.slider .grid-card .grid-card-item-footer button {
    width: 9.5rem;
    padding-left: 1rem;
}

.slider .grid-card .grid-card-item-footer p{
    padding-right: 0.9rem;
    font-size: 0.9rem;
}
